name: Labeler

on:
  pull_request_target:
    types: [opened, reopened, synchronize]

jobs:
  label:
    name: Add labels
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add labels
        uses: actions/labeler@v5
        with:
          configuration-path: .github/labeler.yml
          sync-labels: true
